footer {
  padding-block: 24px;
  padding-inline: 32px;
  font: 14px/150% var(--font-family);
}

.container {
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

footer ul {
  display: flex;
  gap: 16px;
  list-style: none;
}